.banner {
   width: 100%;
   position: absolute;
}

.banner img {
   width: 100%;
   position: absolute;
   height: 100vh;
}

@media (max-width: 1366px) {
   .banner img {
      height: 80vh; /* Ajusta a altura para telas de 1366px */
   }
}



/* Oculta o banner em telas menores ou iguais a 768px */
@media (max-width: 768px) {
   .banner {
       display: none;
   }
}
