.logo {
  position: relative;
  width: auto;
  max-width: 400px; 

  @media (max-width: 1920px) and (min-width: 1367px) {
    max-width: 300px; 
  }

  @media (max-width: 1366px) {
    max-width: 250px;
  }

  @media (max-width: 768px) {
    max-width: 170px; 
  }
}

.logo img {
  width: 100%; 
  height: auto; 
}